.main {
	display: flex;
	justify-content: space-between;
	width: 100%;
	flex-wrap: wrap;
}

.title {
	justify-content: center;
	text-align: center;
	padding: 5rem;
	font-size: 3rem;
}

.title strong,
.title span {
	color: var(--pink);
}

.subtitle {
	margin-top: 1rem !important;
}

.divider {
	margin-top: 2rem !important;
}

.left {
	height: fit-content !important;
	display: flex !important;
	flex-direction: column !important;
	gap: 30px;
}

.leftTitle {
	color: var(--pink);
}

.coin_stats {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid var(--border);
	font-size: 1rem;
	opacity: 0.9;
	padding: 20px;
}

.coin_stats_all {
	display: flex;
	width: 100%;
	padding: 10px;

	font-size: 1rem;
}
.coin_stats_name {
	display: flex;
	width: 100%;
	padding: 10px;
	justify-content: flex-start;
	font-size: 1rem;
}

.coin_stats_value {
	display: flex;
	width: 40%;
	padding: 10px;
	justify-content: flex-end;
	font-size: 1rem;
}

.right {
	height: fit-content !important;
	display: flex !important;
	flex-direction: column !important;
	gap: 30px;
}

.crypto_info {
	margin-top: 50px;
}
.crypto_info h3 {
	color: var(--pink);
	font-size: 18.75px;
}

.crypto_links {
	padding: 3rem;
	display: flex;
	flex-wrap: wrap;
}

.links_list {
	display: flex;
	justify-content: space-between !important;
	padding: 1rem !important;
}

.link_name {
	text-transform: capitalize;
}
.links_list a {
	display: flex;
	justify-content: space-between !important;
	color: var(--pink);
	font-weight: bold;
}

@media all and (max-width: 480px) {
	.crypto_links li {
		display: flex;
		flex-direction: column;
	}
}
