html,
body {
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

main {
	flex: 1;
	margin-right: 10px;
	width: 100%;
}

:root,
body,
#__next {
	--text-primary: #000;
	--bgPrimary: #fff;
	--bgSecondary: #f9f9f9;
	--pink: #0071bd;
	--light-blue: #e6f7ff;
	--border: #d9d9d9;
	width: 100%;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.MuiMenuItem-root {
	min-height: 40px;
	/* padding-bottom: 1px;
	margin-top: 2px; */
	margin: 2px 0px 0px !important;
	padding: 6px 12px 1px !important;
	/* margin-left: 1rem !important; */
}

/* .MuiList-root {
	height: 10;
} */

.css-11dwu8r-MuiButtonBase-root-MuiMenuItem-root,
.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root {
	min-height: 35px;
}

/* HAMBURGER MENU ICON */

.css-i4bv87-MuiSvgIcon-root {
	margin-right: 1rem;
}

/* .MuiAlert-message {
display: contents;
} */

/* 
.MuiAlert-root {
	margin-left: 250px;
	background-color: red;
} */

/* Select in news page*/

/* .css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper {
	height: 500px;
} */

@media all and (max-width: 1020px) {
	main {
		margin: 0;
	}
	.MuiPaper-elevation0 {
		margin-left: inherit;
		width: 100%;
	}
}

@media all and (max-width: 600px) {
	.css-i4bv87-MuiSvgIcon-root {
		margin-right: 2rem;
	}
}
