html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

main {
	flex: 1;
	margin-right: 10px;
	width: 100%;
}
.MuiPaper-elevation0 {
	margin-left: 250px;
}

:root,
body,
#__next {
	--text-primary: #000;
	--bgPrimary: #fff;
	--bgSecondary: #f9f9f9;
	--pink: #0071bd;
	--light-blue: #e6f7ff;
	--border: #d9d9d9;
	width: 100%;
	-webkit-appearance: none;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

/* .MuiMenuItem-root {
	height: 40px;
} */

.css-11dwu8r-MuiButtonBase-root-MuiMenuItem-root,
.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root {
	min-height: 35px;
}

.css-i4bv87-MuiSvgIcon-root {
	font-size: 2rem;
	margin-right: 1rem;
}

@media all and (max-width: 1020px) {
	main {
		margin: 0;
	}
	.MuiPaper-elevation0 {
		margin-left: inherit;
		width: 100%;
	}
}

.MuiAlert-root {
	margin-left: 250px;
}

a:hover {
	background-color: var(--pink);
}
