.heading {
	margin-top: 10px;
}

.first_section {
	background-color: #f9f9f9a8;
	width: 100%;
	word-break: break-all;
	margin-top: 1rem;
}
.main_container {
	margin-left: 150px;
	word-wrap: normal;
	overflow: hidden;
}

